@model mvcCore.Models.Domain.Person


 @{

	// Layout = "_Layout";
 }
 <div class ="mt-2"style= "width 50%">

<form asp-action="AddPerson">
    <h2>Add Person </h2>
    <div class="form-group">
        <label asp-for="Name"  class="form-label">Name</label>
        <input asp-for ="Name" type="text" class="form-control">
        <span class="text-danger " asp-validation-for ="Name"> </span>
      
    </div>
    <div class="form-group">
        <label asp-for="Email"  class=" form-label">Email</label>
        <input asp-for ="Email" type="text" class="form-control">
            <span class="text-danger " asp-validation-for="Email"> </span>
    </div>

        @if (TempData["msg"] != null)
        {
            @TempData["msg"];
        }

    <button type="submit" class="btn btn-primary">Add</button>
    <a href ="/Person/DisplayPeople" class="btn btn-primary">All People </a>

</form>


</div>